@import "tailwindcss";

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.group:hover .group-hover\:bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
}
